<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
	<h1>ACCUEIL</h1>
	<a href="{{ url("app_ticket_add") }}">Déposer ticket</a>
	<a href="{{url("app_ticket_mesTickets") }}">Consulter mes tickets</a>
	<a href="{{ url("app_ticket_all") }}">Visualiser tickets</a>
	<a href="{{url("app_ticket_stats") }}">Rapport stats</a>
</html>