<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
	<a href="{{ url("app_ticket_add") }}">Add</a>
	<table class="table">
		<tr>
            <th>poste</th>
			<th>description</th>
        </tr>
		{% for ticket in tickets %}
            <tr>
                <td>{{ ticket.poste }}</td>
				<td>{{ ticket.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">C'est vide</td>
            </tr>
        {% endfor %}
    </body>
	</table>
</html>