{% extends "base.html.twig" %}

	{% block body %}
	<h1>ACCUEIL</h1>
	<p class="paragraph">
		Bienvenue sur l'outil de report d'incidents. Vous pouvez y déposer des tickets d'incidents qui seront traités dans les plus brefs délais possibles.
	</p>
{% endblock %}